.homepage {
	padding: 20px;
}

/* .recipe-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
} */
 
.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
	padding: 20px;
    place-items: center;
}
